.principal {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h2 {
    font-family: fantasy;
}

input, textarea, select {
    width: 60vw;
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px;
}